<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Burger Restaurant!</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	</head>
	<body>
		<div class="container">
			{{{ body }}}
		</div>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/frontend.js"></script>
	</body>
</html>